#mainCanvas{
    border: 2px solid black;
}

input.loc {
    width: 200px;
    font-size: 20px;
}

input.submit {
    height: 50px;
    width: 100%
}

input.submit2 {
    height: 30px;
}

div.choose {
    display: table;
    width: 100%;
    border-spacing: 5px;
}

div.fractal-choose {
    display: inline-block;
    width: 100%;
}

span.menu {
    display: table-cell;
    width: 100px;
    height: 60px;
}